
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";

.navbar {
	margin-bottom: 0;
}

.jumbotron {
	padding-top: 6rem;
	padding-bottom: 6rem;
	margin-bottom: 0;
	background-color: #fff;
	.jumbotron p:last-child {
		margin-bottom: 0;
	}
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .container {
	max-width: 40rem;
}

.album {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #f7f7f7;
}

.card {
	float: left;
	width: 33.333%;
	padding: .75rem;
	margin-bottom: 2rem;
	border: 0;
	> img {
		margin-bottom: .75rem;
	}
}

.card-text {
	font-size: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	line-height: 22px;     /* fallback */
	max-height: 88px;      /* fallback */
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	p {
		margin-bottom: .25rem;
	}
}

.product-title {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.1;
}

.capitalize {
	text-transform: capitalize;
}

#product-carousel {
	.list-inline {
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.carousel-indicators {
		width: 100%;
		position: initial;
		margin: 0 auto;
		max-height: 95px;

		> li {
			width: initial;
			height: initial;
			text-indent: initial;

			img {
				height: 100%;
			}

			&.active img {
				opacity: 0.7;
			}
		}
	}
}

.list-group-item {
	.short-desc {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-height: 24px;     /* fallback */
		max-height: 48px;      /* fallback */
	}
	img { max-width: 100%; }
}
.autocomplete {
	position: relative;
	.dropdown-menu {
		width: 100%;
		.active {
			background: #aeaaaa;
		}
		a {
			padding-left: 15px;
		}
	}
}

.navbar {
	input, select, button {
		width: 100%!important;
	}
}
