<template>
	<div class="autocomplete" :class="{'open':openSuggestion}">
		<input @focus="$emit('focus')" :placeholder="placeholder" :disabled="!disabled"
			   ref="input" class="form-control" type="text" v-model="inputText"
			   @keydown.enter = 'enter'
			   @keydown.down = 'down'
			   @keydown.up = 'up'
			   @input = 'change'
		/>
		<ul class="dropdown-menu show" v-if="openSuggestion">
			<li v-for="(suggestion, index) in matches"
				v-bind:class="{'active': isActive(index)}"
				@click="suggestionClick(index)"
			>
				<a href="#">{{ suggestion.name }}</a>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		props: {
			placeholder: {
				required: false
			},
			disabled: {
				required: false,
				default: true
			},
			suggestions: {
				required: true,
			},
			value: {
				required:true
			}
		},
		data () {
			return {
				open: false,
				current: 0,
				text: "",
			}
		},
		computed: {
			inputText: {
				get() {
					return this.text;
				},
				set(value) {
					this.text = value;
					if (this.matches.length === 1 && this.matches[0].name.toLowerCase() === value.toLowerCase()) {
						this.selection = this.matches[0].id;
					} else {
						this.$emit('input', null)
					}
				}
			},
			selection: {
				get () {
					return this.value;
				},
				set (value) {
					this.$emit('input', value)
				}
			},
			//Filtering the suggestion based on the input
			matches() {
				if (!this.suggestions)
					return [];
				return this.suggestions.filter((str) => {
					return str.name.toLowerCase().indexOf(this.text.toLowerCase()) >= 0;
				});
			},
			//The flag
			openSuggestion() {
				return this.text !== "" &&
					this.matches.length !== 0 &&
					this.open === true;
			}
		},
		methods: {
			//When enter pressed on the input
			enter() {
				this.selection = this.matches[this.current].id;
				this.text = this.matches[this.current].name;
				this.open = false;
			},
			//When up pressed while suggestions are open
			up() {
				if(this.current > 0)
					this.current--;
			},
			//When up pressed while suggestions are open
			down() {
				if(this.current < this.matches.length - 1)
					this.current++;
			},
			//For highlighting element
			isActive(index) {
				return index === this.current;
			},
			//When the user changes input
			change() {
				if (this.open === false) {
					this.open = true;
					this.current = 0;
				}
			},
			//When one of the suggestion is clicked
			suggestionClick(index) {
				this.selection = this.matches[index].id;
				this.text = this.matches[index].name;
				this.open = false;
			},
		}
	}

</script>