<template>
	<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
		<a class="navbar-brand" href="#">{{ appName }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample09">
			<div class="row align-items-center">
				<div class="col-md-3">
					<ul class="navbar-nav mr-auto">
						<router-link tag="li" class="nav-tem" active-class="active" to="/" exact>
							<a>Home</a>
						</router-link>
					</ul>
				</div>
				<div class="col-md-9">
					<form @submit.prevent="performSearch" class="form-inline my-2 my-md-0">
						<div class="row">
							<div class="col-4">
								<autocomplete @focus="getRegions" placeholder="Region" :suggestions="regions" v-model="region"></autocomplete>
							</div>
							<div class="col-4">
								<autocomplete placeholder="Area" :disabled="region" :suggestions="areas" v-model="area"></autocomplete>
							</div>
							<div class="col-4">
								<autocomplete placeholder="Suburb" :disabled="area" :suggestions="suburbs" v-model="suburb"></autocomplete>
							</div>
							<div class="col-4">
								<input v-model="searchTerm" class="form-control" type="text" placeholder="Search" aria-label="Search">
							</div>
							<div class="col-4">
								<select v-model="order" class="custom-select">
									<option :value="null">Ordering</option>
									<option value="rating_aaa">Rating</option>
									<option value="rate_fromasc">Cheapest</option>
									<option value="rate_fromdesc">Most Expensive</option>
									<option :value="random">Random</option>
								</select>
							</div>
							<div class="col-4">
								<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</nav>
</template>

<script>
	import Autocomplete from './Autocomplete.vue';

	export default {
		data() {
			return {
				appName: process.env.MIX_APP_NAME,
				searchTerm: '',
				order: null,
				regions: null,
				region: null,
				areas: null,
				area: null,
				suburbs: null,
				suburb: null,
				random: 'rand_'+Math.floor(Math.random() * 100)
			}
		},
		watch: {
			'region' (to, from) {
				if (to !== null) {
					this.getAreas();
				}
				this.area = null;
				this.areas = null;
			},
			'area' (to, from) {
				if (to !== null) {
					this.getSuburbs();
				}
				this.suburbs = null;
				this.suburbs = null;
			}
		},
		methods: {
			performSearch () {
				debugger;
				let query =  {
					term: this.searchTerm,
					region: this.region,
					area: this.area,
					suburb: this.suburb,
					order: this.order
				};
				for (let key in query) {
					if (query[key] === null)
						delete query[key];
				}
				this.$router.push({ name: 'search', query})
			},
			getRegions() {
				if (!this.regions) {
					this.$http.get('/getregions')
						.then(response => {
							return response.json();
						})
						.then(data => {
							this.regions = data;
						});
				}
			},
			getAreas() {
				if (!this.areas) {
					this.$http.get('/getareas', {params:  {region: this.region}, emulateJSON: true})
						.then(response => {
							return response.json();
						})
						.then(data => {
							this.areas = data;
						});
				}
			},
			getSuburbs() {
				if (!this.suburbs) {
					this.$http.get('/getsuburbs', {params:  {area: this.area}, emulateJSON: true})
						.then(response => {
							return response.json();
						})
						.then(data => {
							this.suburbs = data;
						});
				}
			}
		},
		components: {
			autocomplete: Autocomplete
		}
	}
</script>
