<template>
	<div>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">{{ appName }}</h1>
				<p class="lead text-muted">Some Stuff here that showcases how cool this site is</p>
			</div>
		</section>

		<div class="album text-muted">
			<div class="container">
				<div v-if="products.length > 0" class="content" ref="products">

					<div class="row">
						<template v-for="product in products">
							<div class="card">
								<img class="card-img-top" :src="product.productImage" :alt="product.productName">
								<div class="card-body">
									<h5 class="card-title">{{ product.productName }}</h5>
									<p class="card-text">{{ product.productDescription }}</p>
								</div>
								<div class="row">
									<div class="col">
										<router-link
												class="btn btn-primary btn-lg btn-block"
												:to="{ name: 'product', params: { id: product.productId }}">
											View Details
										</router-link>
									</div>
									<div v-if="typeof product.comms_url !== 'undefined'" class="col">
										<a class="btn btn-success btn-lg btn-block" :href="product.comms_url">Visit Website</a>
									</div>
								</div>
							</div>
						</template>
					</div>

				</div>

				<div class="loading" v-if="loading">
					Loading...
				</div>

				<div v-if="error" class="error">
					{{ error }}
				</div>

			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				term: this.$route.query.term,
				region: this.$route.query.region,
				area: this.$route.query.area,
				suburb: this.$route.query.suburb,
				order: this.$route.query.order,
				appName: process.env.MIX_APP_NAME,
				count: 1,
				pagedAmount: process.env.MIX_PER_PAGE,
				loading: false,
				products: [],
				error: null,
				loadMoreDifference: 200
			}
		},
		computed: {
			payload: function() {
				return  JSON.stringify({
					term: this.term,
					size: this.pagedAmount,
					pge: this.count,
					rg: this.region,
					ar: this.area,
					ct: this.suburb,
					order: this.order
				})
			}
		},
		watch: {
			'$route' (to, from) {
				this.term = to.query.term;
				this.region = to.query.region;
				this.area = to.query.area;
				this.suburb = to.query.suburb;
				this.order = to.query.order;
				this.products = [];
				this.count = 1;
				this.error = null;
				this.fetchData();
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchData();

			window.addEventListener('scroll', this.handleScroll);
		},
		destroyed () {
			window.removeEventListener('scroll', this.handleScroll);
		},
		methods: {
			handleScroll () {
				if (!this.$refs.products)
					return; // don't proceed unless the element is on the page
				let userAt = document.documentElement.scrollTop +
					Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
				let loadMoreHeight = this.$refs.products.offsetTop + this.$refs.products.offsetHeight - this.loadMoreDifference;
				if (userAt > loadMoreHeight && !this.loading) {
					this.count++;
					this.fetchData();
				}
			},
			fetchData () {
				this.error = null;
				this.loading = true;
				this.$http.get('/products', {params:  {payload: this.payload}, emulateJSON: true})
					.then(response => {
						return response.json();
					}, error => {
						this.error = 'Could not retrieve data from server, please try again later';
					})
					.then(data => {
						this.products = this.products.concat(data.products);
						this.loading = false;
					}, error => {
						this.error = error.message;
					});
			}
		}
	}
</script>
