<template>
	<div class="container">
		<div class="row" v-if="product">
			<div class="col-12">
				<h1 class="product-title">{{ product.productName }}</h1>
			</div>
			<div class="col-9">
				<div ic="slider" v-if="multimedia && multimedia.length > 0">
					<div id="product-carousel" class="carousel slide">
						<!-- main slider carousel items -->
						<div class="carousel-inner">

							<template v-for="(image, index) in multimedia">
								<div class="item carousel-item" :data-slide-number="index" :class="{active: index==0}">
									<img :src="image.serverPath" class="img-fluid">
								</div>
							</template>

							<a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>

						</div>
						<!-- main slider carousel nav controls -->
						<ul class="carousel-indicators list-inline">
							<template v-for="(image, index) in multimedia">
								<li class="list-inline-item" :class="{active: index==0}">
									<a :id="'carousel-selector-'+index" class="selected"
									   :data-slide-to="index" data-target="#product-carousel">
										<img :src="image.serverPath" class="img-fluid">
									</a>
								</li>
							</template>
						</ul>
					</div>
				</div>

				<div class="product-desc">
					{{ product.productDescription }}
				</div>
			</div>

			<div class="col-3">
				<div v-if="email" class="col">
					<a class="btn btn-primary btn-lg btn-block" :href="'mailto:'+email">Send Email</a>
				</div>
				<div v-if="url" class="col">
					<a class="btn btn-success btn-lg btn-block" :href="url">Visit Website</a>
				</div>
				<p v-if="phone" class="text-center"><a :href="'tel:'+phone">{{ phone }}</a></p>

				<div v-if="similar">
					<h5>Similar Products</h5>

					<div class="list-group">
						<template v-for="item in similar">
							<router-link
									class="list-group-item list-group-item-action flex-column align-items-start"
									:to="{ name: 'product', params: { id: item.productId }}">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">{{ item.productName }}</h5>
									<small class="capitalize">{{ product.productCategoryId }}</small>
								</div>
								<img :src="item.productImage" :alt="item.productName" />
								<p class="short-desc">{{ item.productDescription }}</p>
							</router-link>
						</template>
					</div>
				</div>
			</div>
		</div>

		<div class="loading" v-if="loading">
			Loading...
		</div>

		<div v-if="error" class="error">
			{{ error }}
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				id: this.$route.params.id,
				loading: false,
				product: null,
				error: null,
				similar: null
			}
		},
		computed: {
			phone: function()  {
				let phone = null;
				for (let index = 0; index < this.product.communication.length; index++) {
					if (this.product.communication[index].attributeIdCommunicationDescription === 'Telephone Enquiries')
						phone = this.product.communication[index].communicationDetail;
				}
				return phone;
			},
			url: function() {
				let url = null;
				for (let index = 0; index < this.product.communication.length; index++) {
					if (this.product.communication[index].attributeIdCommunicationDescription === 'URL Enquiries')
						url = this.product.communication[index].communicationDetail;
				}
				return url;
			},
			email: function() {
				let email = null;
				for (let index = 0; index < this.product.communication.length; index++) {
					if (this.product.communication[index].attributeIdCommunicationDescription === 'Email Enquiries')
						email = this.product.communication[index].communicationDetail;
				}
				return email;
			},
			multimedia: function() {
				return this.product.multimedia.filter(function(item, index, original) {
					if (index === 0) {
						return true;
					} else if (original[index-1].multimediaId !== item.multimediaId) {
						return true;
					}
				});
			}
		},
		created () {
			// fetch the data when the view is created and the data is
			// already being observed
			this.fetchProduct();
		},
		watch: {
			'$route' (to, from) {
				this.id = to.params.id;
				this.fetchProduct();
			}
		},
		methods: {
			fetchProduct () {
				this.error = this.product = null;
				this.loading = true;
				this.$http.get('/getProduct/' + this.id)
					.then(response => {
						return response.json();
					}, error => {
						this.error = 'Could not retrieve data from server, please try again later';
					})
					.then(data => {
						this.product = data;
						this.loading = false;
						this.loadSimilar();
					}, error => {
						this.error = error.message;
					});
			},
			loadSimilar() {
				// Load the primary product first for faster load times, then load supporting data
				this.$http.get('/getSimilar/' + this.id)
					.then(response => {
						return response.json();
					})
					.then(data => {
						this.similar = data.products;
					});
			}
		}
	}
</script>
